In [2]:
import pandas as pd

In [ ]:
movies = pd.read_csv('movies.csv')
movies[['movieId','title']].head()
ratings=pd.read_csv('ratings.csv')
ratings[['movieId','rating']].head()
joined=ratings.merge(movies,on='movieId',how='left')
joined[['movieId','rating','title']].head()
max_ratings=ratings['rating'].max()
filtred_joined=joined[(joined['rating']==max_ratings)]
fr=filtred_joined.groupby(['movieId','title'])['movieId'].count()
fr.sort_values(ascending=False).head()

#filter_large = movies['rating'] == 5.0
#movies.loc[filter_large]
#movies['rating'].value_counts(normaize=True)
#movies.groupby('movieId')['rating'].value_counts()
#movies[filter_large].value_counts()
#movies[filter_large].value_counts().argmax()

In [17]:
data = pd.read_csv('power.csv')
data.head()
filtr_countries=data[(data['country']=='Lithuania')|(data['country']=='Latvia')|(data['country']=='Estonia')]
filtr_countries.head()
cat_year=filtr_countries[(filtr_countries['category']==4)|(filtr_countries['category']==12)|(filtr_countries['category']==21)&(filtr_countries['year']>2005)&(filtr_countries['year']<2010)&(filtr_countries['quantity']>0)]
print('суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 г. = {}'.format(cat_year['quantity'].sum()))

суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 г. = 165867.0

In [21]:
site=pd.read_html('https://fortrader.org/quotes')[1]
site.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,68.77,-0.08,-0.12,NaN
1,Нефть WTI Цены на нефть WTI,65.46,-0.05,-0.08,NaN
2,Природный газ Цена на природный газ,2.97,-0.01,-0.17,NaN
3,Кофе,145.00,0.00,0.00,NaN
4,Кукуруза,645.00,0.40,0.06,NaN